.inputForm{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.inputForm input{
  flex: 1;
  height: 3.25rem ;
  border-radius: 8px;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  padding: 1rem;
  font-size: 1rem;
  color: var(--gray-100);
  
}

.inputForm button{
  height: 3.25rem;
  width: 5.62rem;
  background: var(--blue-dark);
  color: var(--gray-100) ;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem ;
  transition: background 0.2s;
}
.inputForm button:hover{
  background: var(--blue);
}